<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <link crossorigin="anonymous"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.css"
          integrity="sha512-8D+M+7Y6jVsEa7RD6Kv/Z7EImSpNpQllgaEIQAtqHcI0H6F4iZknRj0Nx1DCdB+TwBaS+702BGWYC0Ze2hpExQ=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{lib/simplePagination.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <title>Product Management</title>
</head>
<body>
<header>
    <!--    Menu navigation bar -->
    <!--    =======================================================-->
    <div class="bg-dark collapse show" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">Ứng dụng quản lý sản phẩm được xây dựng và phát triển bởi Hiếu Nguyễn<br>
                        Chức năng chính gao gồm:<br>
                        - Thêm mới sản phẩm <br>
                        - Chỉnh sửa thông tin sản phẩm <br>
                        - Tìm kiếm sản phẩm<br>
                        - Xóa sản phẩm trong kho</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a class="text-white" href="https://www.facebook.com/Hieu08.09.02"
                               target="_blank">Facebook: Hiếu Nguyễn</a></li>
                        <li><p class="text-white">Gmail: hieu.nguyenthanh.0809@gmail.com</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--    =======================================================-->

    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="https://getbootstrap.com/docs/5.0/examples/album/#">
                <svg aria-hidden="true" class="me-2" fill="none" height="20" stroke="currentColor"
                     stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
                    <circle cx="12" cy="13" r="4"></circle>
                </svg>
                <strong>Product Management</strong>
            </a>
            <button aria-controls="navbarHeader" aria-expanded="true" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-bs-target="#navbarHeader" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<main>
    <!--    Thêm sản phẩm -->
    <!--    =======================================================-->
    <section class="text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Thêm sản phẩm</h1>
                <div>
                    <div class="mb-2 d-flex">
                        <label class="form-label w-200px text-left" for="product-name">Tên sản phẩm:</label>
                        <input class="form-control" id="product-name" placeholder="Áo khoác mỏng" type="text">
                    </div>
                    <div class="mb-2 d-flex">
                        <label class="form-label w-200px text-left" for="product-description">Mô tả:</label>
                        <textarea class="form-control" id="product-description"
                                  placeholder="Áo khoác nữ thoát nhiệt Nhật Bản GOKING, 100% cotton siêu thoáng mát, thấm hút mồ hôi, khử mùi, kháng khuẩn, chống UV, chống nắng nhẹ"
                                  rows="3"></textarea>
                    </div>
                    <div class="mb-2 d-flex">
                        <label class="form-label w-200px text-left" for="product-cost">Giá sản phẩm:</label>
                        <input class="form-control" id="product-cost" placeholder="275.000" rows="3" type="number"/>
                    </div>
                    <div class="mb-2 d-flex">
                        <label class="form-label w-200px text-left" for="product-quantity">Số lượng:</label>
                        <input class="form-control" id="product-quantity" min="0" placeholder="1180" rows="3"
                               type="number"/>
                    </div>
                    <div class="mb-2 d-flex">
                        <label class="form-label w-200px text-left" for="product-link">Avatar sản phẩm:</label>
                        <input class="form-control" id="product-link"
                               placeholder="https://salt.tikicdn.com/cache/750x750/ts/product/6a/87/9e/15aca6917eacb84cc1274e10ad37d0c1.jpg.webp"
                               rows="3"/>
                    </div>
                </div>
                <div class="mt-3">
                    <button class="btn btn-outline-success" onclick="createProduct()" type="button">Thêm sản phẩm
                    </button>
                </div>
            </div>
        </div>
    </section>
    <!--    =======================================================-->

    <div class="album py-5 bg-light">
        <div class="container">
            <h1 class="fw-light text-center">Thêm sản phẩm</h1>
            <!--    Phần tìm kiếm sản phẩm -->
            <!--    =======================================================-->
            <div class="col-lg-6 col-md-8 mx-auto mb-5" id="search-product">
                <div class="mb-2 d-flex">
                    <input class="form-control" id="product-search" placeholder="Tìm kiếm sản phẩm theo tên hoặc mô tả"
                           rows="3"/>
                    <button class="btn btn-outline-primary btn-search" onclick="loadProductList(true)" type="button">Tìm
                        kiếm
                    </button>
                </div>
            </div>
            <!--    =======================================================-->

            <!--    Phần danh sách sản phẩm -->
            <!--    =======================================================-->
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3" id="product-list">
            </div>
            <!--    =======================================================-->

            <!--    Phân trang -->
            <!--    =======================================================-->
            <div class="d-flex justify-content-center mt-4">
                <div id="my-pagination"></div>
            </div>
            <!--    =======================================================-->
        </div>
    </div>
</main>

<!--    Footer -->
<!--    =======================================================-->
<footer class="text-muted py-5">
    <div class="container">
        <p class="float-end mb-1">
            <button class="btn btn-outline-primary" onclick="window.scrollTo(0, 0);">Back to top</button>
        </p>
        <p class="mb-1">Ứng dụng được xây dựng và phát triển bởi Hiếu Nguyễn</p>
        <p class="mb-0">© 2022 - Bản quyền thuộc về Hiếu Nguyễn.</p>
    </div>
</footer>
<!--    =======================================================-->

<!--    Footer -->
<!--    =======================================================-->
<div aria-hidden="true" class="modal fade" data-backdrop="static" id="modal-edit-product" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chỉnh sửa thông tin sản phẩm!</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <section>
                    <div class="mb-2 d-flex">
                        <label class="form-label w-200px text-left" for="product-id-fixed">Mã sản phẩm:</label>
                        <input class="form-control" disabled="disabled" id="product-id-fixed" type="text">
                    </div>
                    <div class="mb-2 d-flex">
                        <label class="form-label w-200px text-left" for="edit-name">Tên sản phẩm:</label>
                        <input class="form-control" id="edit-name" placeholder="Áo khoác mỏng" type="text">
                    </div>
                    <div class="mb-2 d-flex">
                        <label class="form-label w-200px text-left" for="edit-description">Mô tả:</label>
                        <textarea class="form-control" id="edit-description"
                                  placeholder="Áo khoác nữ thoát nhiệt Nhật Bản GOKING, 100% cotton siêu thoáng mát, thấm hút mồ hôi, khử mùi, kháng khuẩn, chống UV, chống nắng nhẹ"
                                  rows="3"></textarea>
                    </div>
                    <div class="mb-2 d-flex">
                        <label class="form-label w-200px text-left" for="edit-cost">Giá sản phẩm:</label>
                        <input class="form-control" id="edit-cost" placeholder="275.000" rows="3" type="number"/>
                    </div>
                    <div class="mb-2 d-flex">
                        <label class="form-label w-200px text-left" for="edit-quantity">Số lượng:</label>
                        <input class="form-control" id="edit-quantity" min="0" placeholder="1180" rows="3"
                               type="number"/>
                    </div>
                    <div class="mb-2 d-flex">
                        <label class="form-label w-200px text-left" for="edit-link">Avatar sản phẩm:</label>
                        <input class="form-control" id="edit-link"
                               placeholder="https://salt.tikicdn.com/cache/750x750/ts/product/6a/87/9e/15aca6917eacb84cc1274e10ad37d0c1.jpg.webp"
                               rows="3"/>
                    </div>
                </section>
            </div>
            <div class="modal-footer text-center">
                <button class="btn btn-outline-primary" id="submit-edit-product" onclick="updateProduct()"
                        type="button">
                    <i class="far fa-paper-plane"></i> Submit
                </button>
            </div>
        </div>
    </div>
</div>
<!--    =======================================================-->


<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<!--    =======================================================-->
<script crossorigin="anonymous"
        integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=="
        referrerpolicy="no-referrer" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script crossorigin="anonymous"
        integrity="sha512-Y+cHVeYzi7pamIOGBwYHrynWWTKImI9G78i53+azDb1uPmU1Dz9/r2BLxGXWgOC7FhwAGsy3/9YpNYaoBy7Kzg=="
        referrerpolicy="no-referrer"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{js/common.js}"></script>
<script th:src="@{lib/jquery.simplePagination.js}"></script>


<!-- Viet java script -->
<script>
    const myPagination = $("#my-pagination");
    const inputSearch = $("#product-search");
    const componentProductList = $("#product-list")

    /// Create product form
    const inProductName = $("#product-name");
    const inDescription = $("#product-description");
    const inProductCost = $("#product-cost");
    const inQuantity = $("#product-quantity");
    const inProductUrl = $("#product-link");

    /// Edit product form
    const dialogEditProduct = $("#modal-edit-product");
    const editId = $("#product-id-fixed");
    const editName = $("#edit-name");
    const editDescription = $("#edit-description");
    const editCost = $("#edit-cost");
    const editQuantity = $("#edit-quantity");
    const editLink = $("#edit-link");

    // Access page
    $(document).ready(function () {
        loadProductList(true);
    });

    // Load page lần đầu hay search thông tin sản phẩm
    function loadProductList(isFirstLoad, keepPaging) {
        let keywordSearch = inputSearch.val();
        let page = isFirstLoad ? 0 : myPagination.pagination('getCurrentPage') - 1;
        MyAjax.get(`/api/products?page=${page}&search=${encodeURIComponent(keywordSearch)}`,
            (response) => {
                // Clear old data
                componentProductList.html("");
                if (response.products.length < 1) {
                    componentProductList.append('<div class="text-center text-red w-100"><h4>Không có sản phẩm tương ứng!</h4></div>');
                    myPagination.html("");
                    return;
                }
                for (const product of response.products) {
                    // noinspection JSVoidFunctionReturnValueUsed
                    componentProductList.append(
                        '<div class="col">' +
                        '<div class="card shadow-sm">' +
                        '<img alt="" class="card-img-top" src="' + product.imageUrl + '">' +
                        '<div class="card-body">' +
                        '<h5 class="card-text">' + product.name + '</h5>' +
                        '<p>' + product.description + '</p>' +
                        '<div class="d-flex"><h4 class="text-red">' + product.cost + '</h4><span> ₫</span></div>' +
                        '<div class="d-flex justify-content-between align-items-center">' +
                        '<div class="btn-group">' +
                        '<button class="btn btn-sm btn-outline-primary" type="button" onclick="editProduct(' + product.id + ')">Edit</button>' +
                        '<button class="btn btn-sm btn-outline-danger" type="button" onclick="deleteProduct(' + product.id + ')">Delete</button></div>' +
                        '<div class="d-flex"><small class="text-muted">Số lượng:&nbsp;</small><small class="text-muted"><b>' + product.quantity + '</b></small>' +
                        '</div></div></div></div>'
                    );
                }
                if (!keepPaging) {
                    renderPagination(response.total);
                }
            },
            (err) => {
                alert(err);
            }
        );
    }

    function createProduct() {
        let productRequest = {
            productName: inProductName.val(),
            productDescription: inDescription.val(),
            productCost: inProductCost.val(),
            productQuantity: inQuantity.val(),
            productLink: inProductUrl.val()
        }
        MyAjax.post(`/api/products`, JSON.stringify(productRequest),
            (res) => {
                inProductName.val("");
                inDescription.val("");
                inProductCost.val("");
                inQuantity.val("");
                inProductUrl.val("");
                $.toast({
                    text: 'Đăng ký thành công!',
                    showHideTransition: 'fade',
                    position: 'bottom-right',
                    icon: 'success'
                });
                loadProductList(true);
            },
            (err) => {
                $.toast({
                    text: 'Đăng ký không thành công!',
                    showHideTransition: 'fade',
                    position: 'bottom-right',
                    icon: 'error'
                });
            }
        )
    }

    function renderPagination(total) {
        // render pagination
        myPagination.pagination({
            items: total ? total : 0,  // total item
            itemsOnPage: 12, // number item on page
            cssStyle: 'light-theme'
        });
    }

    myPagination.on("click", () => {
        loadProductList(false, true);
    });

    inputSearch.on("keypress", (e) => {
        if (e.which === 13) {
            loadProductList(true);
        }
    })

    function editProduct(productId) {
        dialogEditProduct.modal("show");
        MyAjax.get(`/api/products/${productId}`,
            (product) => {
                editId.val(product.id);
                editName.val(product.name);
                editDescription.val(product.description);
                editCost.val(product.cost);
                editQuantity.val(product.quantity);
                editLink.val(product.imageUrl);
            },
            (err) => {
                $.toast({
                    text: 'Không tìm thấy thông tin sản phẩm!',
                    showHideTransition: 'fade',
                    position: 'bottom-right',
                    icon: 'error'
                });
            }
        )
    }

    dialogEditProduct.on("hidden.bs.modal", () => {
        // Clear all input
        editId.val("");
        editName.val("");
        editDescription.val("");
        editCost.val("");
        editQuantity.val("");
        editLink.val("");
    });

    function updateProduct() {
        let productRequest = {
            productId: editId.val(),
            productName: editName.val(),
            productDescription: editDescription.val(),
            productCost: editCost.val(),
            productQuantity: editQuantity.val(),
            productLink: editLink.val()
        }
        dialogEditProduct.modal("hide");
        MyAjax.put(`/api/products`, JSON.stringify(productRequest),
            // Update success
            (response) => {
                $.toast({
                    text: 'Update sản phẩm thành công!',
                    showHideTransition: 'fade',
                    position: 'bottom-right',
                    icon: 'success'
                });
                loadProductList(true);
            },
            // Update error
            (err) => {
                $.toast({
                    text: 'Update sản phẩm thất bại!',
                    showHideTransition: 'fade',
                    position: 'bottom-right',
                    icon: 'error'
                });
                loadProductList(true);
            }
        )
    }

    function deleteProduct(productId) {
        MyAjax.delete(`/api/products/${productId}`, null,
            //on delete success
            () => {
                $.toast({
                    text: 'Xoá sản phẩm thành công!',
                    showHideTransition: 'fade',
                    position: 'bottom-right',
                    icon: 'success'
                });
                loadProductList(true);
            },
            // On delete error
            (err) => {
                $.toast({
                    text: 'Xoá sản phẩm không thành công!',
                    showHideTransition: 'fade',
                    position: 'bottom-right',
                    icon: 'error'
                });
                loadProductList(true);
            }
        )
    }
</script>
<!--    =======================================================-->
</body>
</html>